### Important Note
CSV file hona chahiye aur pehla waala column category aur dsra text.
aisa nae kiya toh code hug dega

In [60]:
# Import necessary libraries

import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import nltk
from nltk.corpus import stopwords


# Libraries for visualisation

import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\2178053\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [62]:
file_path=" "#Idhar file path dal dena

df=pd.read_csv(file_path,encoding="latin-1") #Use the preffered encoding

# Drop unnecessary columns from the DataFrame


df.columns=['Category','Text']
data=df.where((pd.notnull(df))," ")
data

     Category                                               Text
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ì_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [63]:
data.describe()

       Category                    Text
count      5572                    5572
unique        2                    5169
top         ham  Sorry, I'll call later
freq       4825                      30

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Text      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [65]:
data.shape

(5572, 2)

### Converting to numerical representation

In [66]:
cat1=" "#Isme pehla category dalna jisko 0 baana na chahta usko daal idhar
cat2=" "#Isme dsra category dalna jisko 1 baana na chahta usko daal idhar
data.loc[data["Category"] == cat1 , "Category"]=0
data.loc[data["Category"] == cat2 , "Category"]=1

X=data["Text"]
Y=data["Category"]

In [67]:
print(X)
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Text, Length: 5572, dtype: object
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [68]:
#Training and Testing Data Split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 3)

In [69]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

In [70]:
print(Y.shape)
print(Y_train.shape)
print(Y_test.shape)

(5572,)
(4457,)
(1115,)

In [71]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words="english", lowercase=True)

In [72]:
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [73]:
Y_train = Y_train.astype("int")
Y_test = Y_test.astype("int")

### Logistic Regression....

In [74]:
model=LogisticRegression()
model.fit(X_train_features,Y_train)

LogisticRegression()

In [75]:
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [76]:
print("Accuracy of training data:",accuracy_on_training_data)

Accuracy of training data: 0.9661207089970832

In [77]:
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_test_data)

In [78]:
print("Accuracy of test data:",accuracy_on_test_data)

Accuracy of test data: 0.9623318385650225

In [79]:
input_text=input()
input_your_text = [input_text]
input_data_features = feature_extraction.transform(input_your_mail)
prediction = model.predict(input_data_features)
print(prediction)


# Print the prediction result

if (prediction)[0] == 1:
  print(cat2)
else:
  print(cat1)

Spam hae ye
[0]
spam

# All the Best Bro 🔥